.full-body {
    margin: 10px auto;
    width: 700px;
}

body {
    background-color: antiquewhite;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: Garamond, Georgia, serif;
    margin-bottom: 40px;
}

.undertitle {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, Garamond, serif;
}

img {
    display: block;
    border-radius: 15px;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, Garamond, serif;
    margin-top: 50px;
    margin-bottom: 30px;
}

ul,
ol {
    font-size: 20px;
}

.home {
    display: inline-block;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

.dv {
    text-align: center;
}