h1 {
    text-align: center;
    font-family: Garamond, Georgia, serif;
    font-size: 70px;
    margin-bottom: 20px;
}
.main-img {display: block;
        margin: auto;
        border-radius: 15px;
}
h2 {
    text-align: center;
    font-family: Georgia, Garamond, serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.rec {
    border-style: groove;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    font-family: Georgia, Garamond, serif;
}
.recipes {
    text-align: center;   
}
body {
    background-color: antiquewhite;
}

p {
    display: inline-block;
}

.discover {
    text-align: center;
    max-width: 600px;      
    margin: 20px auto;     
    text-align: center;   
    
    padding: 20px;

    font-size: 20px;
    font-family: Georgia, Garamond, serif;
}
